# Исключаем настройки IDE
.idea/

# Исключаем виртуальное окружение
venv/
.env

# Исключаем файлы базы данных
db.sqlite3
*.sqlite3

# Исключаем временные файлы Django
__pycache__/
*.py[cod]

*.docx

*.png