<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQ Test</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Пройдите тест</h1>
    <form action="{{ url_for('submit') }}" method="POST">
        {% for question in questions %}
            <div>
                <h3>Вопрос {{ loop.index }}: {{ question.question_text }}</h3>
                <ul>
                    {% for option in question.options %}
                        <li>
                            <label>
                                <input type="radio" name="q{{ question.id }}" value="{{ option }}" required>
                                {{ option }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="submit">Отправить</button>
    </form>
</body>
</html>
