{% extends 'base.html' %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<h2>Добавить новый товар</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        {{ form.title.label_tag }}<br>
        {{ form.title }}<br>
        {{ form.title.errors }}
    </div>

    <div>
        {{ form.description.label_tag }}<br>
        {{ form.description }}<br>
        {{ form.description.errors }}
    </div>

    <div>
        {{ form.price.label_tag }}<br>
        {{ form.price }}<br>
        {{ form.price.errors }}
    </div>

    <div>
        {{ form.available.label_tag }}
        {{ form.available }}<br>
        {{ form.available.errors }}
    </div>

    <div>
        {{ form.categories.label_tag }}<br>
        {{ form.categories }}<br>
        {{ form.categories.errors }}
    </div>

    <div>
        {{ form.password1.label_tag }}<br>
        {{ form.password1 }}<br>
        {{ form.password1.errors }}
    </div>

    <div>
        {{ form.password2.label_tag }}<br>
        {{ form.password2 }}<br>
        {{ form.password2.errors }}
    </div>

    <button type="submit">Сохранить</button>
</form>
{% endblock %}
