{% extends 'base.html' %}
{% block title %}Управление продуктами{% endblock %}
{% block content %}
<h1>Управление продуктами</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
            <tr>
                {% for field in form %}
                    <td>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                        {{ field.errors }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
