<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">ToDo List</h1>
            <nav class="navbar is-light mb-4">
                <div class="navbar-menu is-active">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'home' %}">Главная</a>
                        <a class="navbar-item" href="{% url 'task_list' %}">Задачи</a>
                        <a class="navbar-item" href="{% url 'task_create' %}">Добавить</a>
                        <a class="navbar-item" href="{% url 'task_import_csv' %}">Импорт</a>
                        <a class="navbar-item" href="{% url 'task_export_csv' %}">Экспорт</a>
                    </div>
                </div>
            </nav>

            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>
