{% extends 'draft_app/base.html' %}

{% block content %}
    <h2 class="title is-4">📥 Импорт задач из CSV</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file">
            <label class="file-label">
                <input class="file-input" type="file" name="file">
                <span class="file-cta">
                    <span class="file-icon">📄</span>
                    <span class="file-label">Выберите CSV файл…</span>
                </span>
            </label>
        </div>
        <button class="button is-primary mt-3" type="submit">Импортировать</button>
    </form>
{% endblock %}
